.navbar {
    margin-top: 0;
    padding-top: 0;
}

.flexContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btndark {
    background-color: var(--dark-color);
    min-width: 140px;
}