.body{
    background-color:#3D4C7B;
    height: 100vh;
    width: 100vw;
    color: #000000;
    padding-top: 1px;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.body .white_box{
    background-color:var(--semi-light-color);
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 15.78vh; */
    border-radius: 16px;
    padding: 30px 10px;
    width: 50%;
}

.body .white_box img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.body .white_box .title {
    text-align: justify;
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.body .white_box .reset_info {
    text-align: justify;
    font-size: 16px;
    font-weight: normal;
    color: #777;
    padding: 5px;
    margin: 0 15px;
}

.error {
    color: red;
    font-size: 1.2rem;
    font-weight: normal;
    padding: 4px;
    text-align: center;
}

.success{
    color: rgb(0, 54, 0);
    font-size: 1rem;
    font-weight: 700;
    padding: 4px;
    text-align: center;
}

.credentials {
    padding: 0 10px;
}

.credentials input {
    background: none;
    border: 1.2px solid #000;
    border-radius: 10px;
    width: 100%;
    padding: 15px;
}

.credentials p {
    font-size: 1rem;
    font-weight: normal;
    padding: 5px 0 0 10px;
    margin: 7.5px auto;
}

.credentials input::placeholder {
    color: #000;
    font-size: 20;
    padding-left: 5px;
    letter-spacing: 1px;
    font-weight: 600;
}

.btndark {
    background: var(--light-blue);
    display: block;
    width: 100%;
    margin: 15px auto;
    margin-bottom: 10px;
    padding: 15px 20px;
}

.login p {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: 700;
    margin: 15px 0 5px;
}